/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* font-family: 'Lexend Deca', sans-serif; 
font-family: 'Big Shoulders Display', cursive;*/

:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

h2{
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2rem;
}

p{
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8rem;
}

button{
    max-width: 55%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8rem;
    padding: .5rem 0;
    border-radius: 50px;
    border: 2px solid var(--very-light-gray);
    margin-top: 2rem;
    transition: .2s ease-in;
}

button:hover{
    background-color: transparent;
    color: var(--very-light-gray);    
    cursor: pointer;
}

.sedans button:hover p,
.suvs button:hover p,
.luxury button:hover p{
    color: var(--very-light-gray);
}

.container{
    width: 90%;
    max-width: 350px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.card-container{
    width: 85%;
    margin-inline: auto;
    padding: 2.5rem;
}

.card-image{
    max-width: 25%;
}

.sedans{
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.sedans button p{
    color: var(--bright-orange);
    transition: .2s ease-in;
}

.suvs{
    background-color: var(--dark-cyan);
}

.suvs button p{
    color: var(--dark-cyan);
    transition: .2s ease-in;
}

.luxury{
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.luxury button p{
    color: var(--very-dark-cyan);
    transition: .2s ease-in;
}

.attribution{
    text-align: center;
    font-family: 'Lexend Deca', sans-serif; 
    font-size: .8rem;
    padding: 1rem;
}

.attribution a{
    text-decoration: none;
    color: black;
    transition: .2s ease-in;
}

.attribution a:hover{
    color: var(--bright-orange);
}

@media (min-width: 800px) {
    .container{
        width: 100%;
        max-width: 800px;
    }

    .container-flex{
        display: flex;
    }

    .sedans{
        background-color: var(--bright-orange);
        border-radius: 10px 0 0 10px;
    }

    .luxury{
        background-color: var(--very-dark-cyan);
        border-radius: 0 10px 10px 0;
    }

    button{
        margin-top: 3rem;
    }
}